main {
    background: url(../png/buttons_or_assets/bg1.png) no-repeat center; 
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.start_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    transform: skew(15deg);
    width: 200px;
    background-color: yellow;
    border: white 1px;
}

.start_button-text {
    transform: skew(-15deg);
    text-align: center;
    color: white;
}